.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: auto;
    margin-top: 30px ;
   
    
}
img {
    height: 50px;
    width: auto;
}
.products {
    border-width: 5px ;
    border-style: solid;
    border-color: black;
}
.b1 {
    padding: 5px 10px ;
    margin-bottom: 5px ;
    cursor: pointer;
    background-color: rgb(145, 16, 16);
    color: white;
    font-weight: bold;
    margin-top: 10px ;
}
.b3 {
    padding: 5px 8px ;
    margin-bottom: 5px ;
    cursor: pointer;
    background-color: rgb(59, 56, 56);
    color: white;
    font-weight: bold;
    margin-top: 10px ;
}